// Responsiveness

$tablet: 769px !default;
$desktop: 960px !default;
$widescreen: 1152px !default;
$fullhd: 1344px !default;

// Layout sizes

$header-height: 60px !default;
$navMaxWidth: 260px !default;
$pagerHeight: 40px !default;

