.stepsjs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;

  @include tablet {
    flex-direction: row;
  }

  .stepsjs__header {
    width: 100%;
    display: flex;
    height: $header-height;
    margin: 0;
    padding: 0;
    flex-direction: column;

    @include tablet {
      flex: 0 0 100%;
      flex-direction: row;
    }

    h1 {
      margin: 0 10px;
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .stepsjs-icon {
      display: inline-block;
      width: 32px;
      height: 32px;
      stroke-width: 0;
      stroke: currentColor;
      fill: currentColor;
    }
  }

  .stepsjs__nav {
    width: 100%;
    @include tablet {
      flex: 0 0 33.3%;
      max-width: $navMaxWidth;
    }
  }

  .stepsjs__steps {
    width: 100%;
    padding-bottom: $pagerHeight;
    position: relative;
    transition: all .6s ease;
    box-sizing: border-box;

    @include tablet {
      flex: 1 0 66.6%;
    }
  }

  .stepsjs__button {
    position: absolute;
    bottom: 0;
    transition: all .6s ease;

    &.stepsjs__button--prev {
      left: 0;
    }
    &.stepsjs__button--next {
      right: 0;
    }
  }
}
