.tutorialjs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;

  @include tablet {
    flex-direction: row;
  }

  .tutorialjs__header {
    width: 100%;
    display: flex;
    height: $header-height;

    @include tablet {
      flex: 0 0 100%;
    }

    h1 {
      margin: 0 10px;
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    button {
      display: inline-block;
      border: 0;
      background: none;
      padding: 0;
      margin: 0;
      width: 30px;
      height: 30px;
      cursor: pointer;

      .icon {
        display: inline-block;
        width: 30px;
        height: 30px;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
      }

      .icon-enlarge {
        display: inline-block;
      }
      .icon-arrow-left {
        display: none;
      }
    }
  }

  .tutorialjs__nav {
    width: 100%;
    @include tablet {
      flex: 0 0 33.3%;
      max-width: $navMaxWidth;
    }
  }

  .tutorialjs__steps {
    width: 100%;
    padding-bottom: $pagerHeight;
    position: relative;
    transition: all .6s ease;
    box-sizing: border-box;

    @include tablet {
      flex: 1 0 66.6%;
    }
  }

  .tutorialjs__button {
    position: absolute;
    bottom: 0;
    transition: all .6s ease;

    &.tutorialjs__button--prev {
      left: 0;
    }
    &.tutorialjs__button--next {
      right: 0;
    }
  }
}
