.stepsjs__steps {

  > *:not(button) {
    margin: auto;
    width: 100%;
    display: block;

    &[hidden] {
      display: none;
    }

    pre {
      width: 100%;
      overflow: auto;
    }
  }

  .stepsjs__step--selected {
    display: block;
  }

}

